In [3]:
# Count the number of non-understood instances
import pandas as pd

In [4]:
# number of processed rows
n_processed = 0
# All counted
df_counted_all = pd.DataFrame(columns=["date", "count"])

In [15]:
submit_to_agent = pd.read_pickle('./data/submit_to_agent_grow.p')

In [16]:
submit_to_agent

,_id,userId,full_name,datetime,reason,message
0,5e747a3b88c9e151b2f1f29b,3432603620089385,มงคล ชุ่มใจ,2020-03-20T08:09:31.466143,not_understand,เบี้ย9999บ.คุ้มครอง​อะไรบ้าง
1,5e747a445bc258ca00eabfc7,2739695839400025,สุนทร สีหา,2020-03-20T08:09:40.274293,$ensitive,อยากทราบว่า.ทางรัฐบาลให้พักชำระหนี้ เงินติดล้อ...
2,5e747b3d88c9e151b2f1f2e7,2317879594928073,Chayatorn Arunchanachai,2020-03-20T08:13:49.144198,not_understand,โคโรนา
3,5e747c2d88c9e151b2f1f309,3654936474576279,Nampol Sawitree,2020-03-20T08:17:49.969109,not_understand,092-2748189
4,5e747d4888c9e151b2f1f33a,4065967033417170,ราชันย์ จันทะแค,2020-03-20T08:22:32.396304,$ensitive,กู้กับเงินล้อนิละครับ
...,...,...,...,...,...,...
195,5e75adc15bc258ca00eadfdf,3055661317888140,แจ็ค โคราช,2020-03-21T06:01:37.287445,not_understand,เปลี่ยนคน
196,5e75b0895bc258ca00eae03f,2023514274426575,Nate Ka,2020-03-21T06:13:29.173989,not_understand,ช่วงนี้มีช่วยเหลือลูกนี้ไมค่ะ
197,5e75b20288c9e151b2f213bb,2771695092942987,Natthankorn Kaosongmuang,2020-03-21T06:19:46.399801,not_understand,นัทธัญกรณ์ ขาวสองเมือง
198,5e75b2c85bc258ca00eae084,3004424222941341,Nateekan Inboonrod,2020-03-21T06:23:04.170547,not_understand,0838164346
199,5e75b35d88c9e151b2f213fb,2749441921746616,'คนนอกนิยาย ผู้ชายนอกฝัน',2020-03-21T06:25:33.359909,$ensitive,ต้องการสิบถามข้อมูล

In [17]:
# Extract date from datetime string and remove dashes
df_to_process = submit_to_agent[n_processed:].copy()
df_to_process['date'] = df_to_process['datetime'].apply(lambda x: x[:10])
df_to_process

,_id,userId,full_name,datetime,reason,message,date
100,5e74d37c5bc258ca00eacfef,2669885983137373,เชาวลิตร ปานเนียม,2020-03-20T14:30:20.473618,$ensitive,เชาวลิตร\nปานเนียม,20200320
101,5e74d3b75bc258ca00eacffb,2633401313451924,Fon Suansamut,2020-03-20T14:31:19.089132,not_understand,0800016635,20200320
102,5e74d49e88c9e151b2f202e9,2798348013546173,Saknarin Tanlaung,2020-03-20T14:35:10.913340,not_understand,เป็นพนักงานโรงแรมครับ ตอนนี้โดนให้หยุดงานโดยไม...,20200320
103,5e74d50a5bc258ca00ead00f,2801945499902481,มะลิลา ศิริสุวรรณ,2020-03-20T14:36:58.609605,not_understand,ขอส่งช้าหน่อยจ่ะได้ไม่ค่ะ,20200320
104,5e74d59a5bc258ca00ead016,2761549467285313,Onanong Thanukit,2020-03-20T14:39:22.273684,$ensitive,0956867871,20200320
...,...,...,...,...,...,...,...
195,5e75adc15bc258ca00eadfdf,3055661317888140,แจ็ค โคราช,2020-03-21T06:01:37.287445,not_understand,เปลี่ยนคน,20200321
196,5e75b0895bc258ca00eae03f,2023514274426575,Nate Ka,2020-03-21T06:13:29.173989,not_understand,ช่วงนี้มีช่วยเหลือลูกนี้ไมค่ะ,20200321
197,5e75b20288c9e151b2f213bb,2771695092942987,Natthankorn Kaosongmuang,2020-03-21T06:19:46.399801,not_understand,นัทธัญกรณ์ ขาวสองเมือง,20200321
198,5e75b2c85bc258ca00eae084,3004424222941341,Nateekan Inboonrod,2020-03-21T06:23:04.170547,not_understand,0838164346,20200321
199,5e75b35d88c9e151b2f213fb,2749441921746616,'คนนอกนิยาย ผู้ชายนอกฝัน',2020-03-21T06:25:33.359909,$ensitive,ต้องการสิบถามข้อมูล,20200321

In [18]:
# Count the number of instances by date group
df_counted = df_to_process.groupby('date')['reason'].apply(lambda x: (x == 'not_understand').sum()).reset_index(name='count')

df_counted_all = df_counted_all.append(df_counted)

In [19]:
# Update the latest number of processed rows
n_processed = submit_to_agent.shape[0]
n_processed

200

In [20]:
df_counted_all

       date  count
0  20200320     58
0  20200320     25
1  20200321     25

In [21]:
df_counted_all['count'] = df_counted_all.groupby(['date'])['count'].transform('sum')
df_counted_all

       date  count
0  20200320     83
0  20200320     83
1  20200321     25

In [22]:
df_counted_all.drop_duplicates()

       date  count
0  20200320     83
1  20200321     25