In [1]:
import pandas as pd
from pythainlp.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import LinearSVC
from sklearn.preprocessing import normalize

In [2]:
chatlog = pd.read_pickle('./data/chatlog.p')

In [3]:
df = chatlog[['userId', 'message', 'role', '_date']]

In [4]:
df.drop(df[df.role == "Admin"].index, inplace=True)

c:\users\lum\code\ntl_dashboard\ntl_env\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
df_11_01 = df[df._date == "2019-11-01"]

In [24]:
id_list = df_11_01['userId'].unique()

In [25]:
 mydict = {k: g["message"].tolist() for k,g in df_11_01.groupby("userId")}   
 # TODO: convert dict to list for further tfidf

In [26]:
vectorizer = CountVectorizer(tokenizer=word_tokenize)

In [28]:
df_11_01

                  userId                          message  role       _date
0       2433413723406579                           สวัสดี  User  2019-11-01
3       2433413723406579                       สวัสดีครับ  User  2019-11-01
15      2840441032636220                               hi  User  2019-11-01
22      2840441032636220                           toyota  User  2019-11-01
24      2840441032636220                            camry  User  2019-11-01
...                  ...                              ...   ...         ...
160387  2668660163208968              ขอเช็คราคาหน่อยครับ  User  2019-11-01
160407  2471477386263207  ประกันชั้น1บริษัทไหนราคาถูกบ้าง  User  2019-11-01
160412  2471477386263207                           ฮอนด้า  User  2019-11-01
160414  2471477386263207                           ซิตตี้  User  2019-11-01
160416  2471477386263207                             2018  User  2019-11-01

[1746 rows x 4 columns]

In [47]:
# Create a new dataframe where the users are unique and the messages are combined
df_new = df_11_01.groupby(['userId'])['message'].apply(','.join).reset_index()

In [48]:
# Check if a user has all the messages
df_new.loc[df_new["userId"] == "2840441032636220"]

               userId                                       message
379  2840441032636220  hi,toyota,camry,2019,ฟิว เทส,0832593546,ครับ

In [53]:
# Add a new column where the messages of each user are split by comma and stored in a list
df_new["message_list"] = df_new["message"].apply(lambda x: x.split())

In [55]:
df_new.loc[df_new["userId"] == "2840441032636220"]

,userId,message,message_list
379,2840441032636220,"hi,toyota,camry,2019,ฟิว เทส,0832593546,ครับ","[hi,toyota,camry,2019,ฟิว, เทส,0832593546,ครับ]"