In [1]:
import pandas as pd
import pymongo
from pymongo import MongoClient
import numpy as np
import datetime
from datetime import timedelta, date
from dateutil.relativedelta import relativedelta

In [2]:
# Format time to match with the data
today = date.today()
td = today.strftime("%Y-%m-%d")

In [3]:
# number of processed rows
n_processed = 0
# All counted
df_counted_all = pd.DataFrame(columns=["date", "organic", "ad", "ref link"])

In [6]:
def get_data_from_db():
  murl = "mongodb://heroku_m5rgq7gk:5qme114aruu0vdgk6821odskc3@ds211708.mlab.com:11708/heroku_m5rgq7gk"
  client = MongoClient(murl)
  dbname = 'heroku_m5rgq7gk'
  cl = client[dbname]
  ad_rec = cl.ad_id

  ad_customer = pd.DataFrame(list(ad_rec.find({})))
  return ad_customer

In [3]:
ad_id = pd.read_csv('../excel/ad_id.csv')

In [4]:
ad_id

,_id,sender_id,ad_id,ref,date
0,5ed11d5d942407c5f1c24131,2493839424063591,2.384377e+16,NaN,2020-05-29 21:34:05
1,5ed11d76f8434614ede0f2af,3077497682366125,2.384377e+16,NaN,2020-05-29 21:34:30
2,5ed12028f8434614ede0f2b0,3567881706561459,2.384366e+16,NaN,2020-05-29 21:46:00
3,5ed120f5f8434614ede0f2b1,3088913594523475,2.384410e+16,NaN,2020-05-29 21:49:25
4,5ed121fa942407c5f1c24133,3033464403393942,2.384467e+16,NaN,2020-05-29 21:53:46
...,...,...,...,...,...
8310,5ef5bf3feb6849148bca7244,2990934177607682,2.384496e+16,NaN,2020-06-26 16:26:23
8311,5ef5c3953b42d4e11b38d6bf,2782038978558972,2.384419e+16,NaN,2020-06-26 16:44:53
8312,5ef5c3ce3b42d4e11b38d6c0,3256129771093220,2.384496e+16,NaN,2020-06-26 16:45:50
8313,5ef5c4bd3b42d4e11b38d6c1,3410118372354573,2.384496e+16,NaN,2020-06-26 16:49:49
8314,5ef5c4d73b42d4e11b38d6c2,3001726469876567,2.384496e+16,NaN,2020-06-26 16:50:15

In [5]:
ad_ids.drop_duplicates(subset='sender_id', keep='last', inplace=True)

In [6]:
ad_ids

,_id,sender_id,ad_id,ref,date
0,5ed11d5d942407c5f1c24131,2493839424063591,2.384377e+16,NaN,2020-05-29 21:34:05
1,5ed11d76f8434614ede0f2af,3077497682366125,2.384377e+16,NaN,2020-05-29 21:34:30
2,5ed12028f8434614ede0f2b0,3567881706561459,2.384366e+16,NaN,2020-05-29 21:46:00
3,5ed120f5f8434614ede0f2b1,3088913594523475,2.384410e+16,NaN,2020-05-29 21:49:25
4,5ed121fa942407c5f1c24133,3033464403393942,2.384467e+16,NaN,2020-05-29 21:53:46
...,...,...,...,...,...
7892,5ef42683dd64823c46e7b8e2,2884440224998566,2.384496e+16,NaN,2020-06-25 11:22:27
7893,5ef4277ddd64823c46e7b8e3,3166563266798306,2.384481e+16,NaN,2020-06-25 11:26:37
7894,5ef428ec29955acb4a6c3271,2485403331524775,2.384496e+16,NaN,2020-06-25 11:32:44
7895,5ef4298229955acb4a6c3272,2518197301616593,2.384496e+16,NaN,2020-06-25 11:35:14
7896,5ef42983dd64823c46e7b8e4,3418062224886946,NaN,DLJingjai,2020-06-25 11:35:15

In [28]:
extract_date(ad_ids)

,_id,sender_id,ad_id,ref,date,_date
0,5ed11d5d942407c5f1c24131,2493839424063591,2.384377e+16,NaN,2020-05-29 21:34:05,2020-05-29
1,5ed11d76f8434614ede0f2af,3077497682366125,2.384377e+16,NaN,2020-05-29 21:34:30,2020-05-29
2,5ed12028f8434614ede0f2b0,3567881706561459,2.384366e+16,NaN,2020-05-29 21:46:00,2020-05-29
3,5ed120f5f8434614ede0f2b1,3088913594523475,2.384410e+16,NaN,2020-05-29 21:49:25,2020-05-29
4,5ed121fa942407c5f1c24133,3033464403393942,2.384467e+16,NaN,2020-05-29 21:53:46,2020-05-29
...,...,...,...,...,...,...
7892,5ef42683dd64823c46e7b8e2,2884440224998566,2.384496e+16,NaN,2020-06-25 11:22:27,2020-06-25
7893,5ef4277ddd64823c46e7b8e3,3166563266798306,2.384481e+16,NaN,2020-06-25 11:26:37,2020-06-25
7894,5ef428ec29955acb4a6c3271,2485403331524775,2.384496e+16,NaN,2020-06-25 11:32:44,2020-06-25
7895,5ef4298229955acb4a6c3272,2518197301616593,2.384496e+16,NaN,2020-06-25 11:35:14,2020-06-25
7896,5ef42983dd64823c46e7b8e4,3418062224886946,NaN,DLJingjai,2020-06-25 11:35:15,2020-06-25

In [5]:
def extract_date(ad_id):
    ad_id['_date'] = ad_id['date'].apply(lambda x: x[:10])
    return ad_id

In [26]:
ad_new = extract_date(ad_ids)

In [27]:
ad_new

,_id,sender_id,ad_id,ref,date,_date
0,5ed11d5d942407c5f1c24131,2493839424063591,2.384377e+16,NaN,2020-05-29 21:34:05,2020-05-29
1,5ed11d76f8434614ede0f2af,3077497682366125,2.384377e+16,NaN,2020-05-29 21:34:30,2020-05-29
2,5ed12028f8434614ede0f2b0,3567881706561459,2.384366e+16,NaN,2020-05-29 21:46:00,2020-05-29
3,5ed120f5f8434614ede0f2b1,3088913594523475,2.384410e+16,NaN,2020-05-29 21:49:25,2020-05-29
4,5ed121fa942407c5f1c24133,3033464403393942,2.384467e+16,NaN,2020-05-29 21:53:46,2020-05-29
...,...,...,...,...,...,...
7892,5ef42683dd64823c46e7b8e2,2884440224998566,2.384496e+16,NaN,2020-06-25 11:22:27,2020-06-25
7893,5ef4277ddd64823c46e7b8e3,3166563266798306,2.384481e+16,NaN,2020-06-25 11:26:37,2020-06-25
7894,5ef428ec29955acb4a6c3271,2485403331524775,2.384496e+16,NaN,2020-06-25 11:32:44,2020-06-25
7895,5ef4298229955acb4a6c3272,2518197301616593,2.384496e+16,NaN,2020-06-25 11:35:14,2020-06-25
7896,5ef42983dd64823c46e7b8e4,3418062224886946,NaN,DLJingjai,2020-06-25 11:35:15,2020-06-25

In [4]:
ad_ids['ad_id'] = ad_ids['ad_id'].astype(str)

In [7]:
messenger_ad_users = ad_ids.loc[ad_ids.ad_id.notnull()]

In [8]:
messenger_ad_users

,_id,sender_id,ad_id,ref,date
0,5ed11d5d942407c5f1c24131,2493839424063591,2.384377e+16,NaN,2020-05-29 21:34:05
1,5ed11d76f8434614ede0f2af,3077497682366125,2.384377e+16,NaN,2020-05-29 21:34:30
2,5ed12028f8434614ede0f2b0,3567881706561459,2.384366e+16,NaN,2020-05-29 21:46:00
3,5ed120f5f8434614ede0f2b1,3088913594523475,2.384410e+16,NaN,2020-05-29 21:49:25
4,5ed121fa942407c5f1c24133,3033464403393942,2.384467e+16,NaN,2020-05-29 21:53:46
...,...,...,...,...,...
7890,5ef4262ddd64823c46e7b8e0,2316778111723407,2.384481e+16,NaN,2020-06-25 11:21:01
7892,5ef42683dd64823c46e7b8e2,2884440224998566,2.384496e+16,NaN,2020-06-25 11:22:27
7893,5ef4277ddd64823c46e7b8e3,3166563266798306,2.384481e+16,NaN,2020-06-25 11:26:37
7894,5ef428ec29955acb4a6c3271,2485403331524775,2.384496e+16,NaN,2020-06-25 11:32:44
7895,5ef4298229955acb4a6c3272,2518197301616593,2.384496e+16,NaN,2020-06-25 11:35:14

In [71]:
ref_link_users = ad_ids.loc[ad_ids.ref.notnull()]

In [72]:
ref_link_users

,_id,sender_id,ad_id,ref,date
424,5ed3f6eba43839f10ce76d8c,2970510986319388,NaN,DLJingjai,2020-06-01 01:26:51
454,5ed45bec7c9714de22854f51,3376727782397831,NaN,DLJingjai,2020-06-01 08:37:48
456,5ed45db9a43839f10ce76da0,3536947312998853,NaN,DLJingjai,2020-06-01 08:45:29
467,5ed4688ea43839f10ce76da6,3087435531316393,NaN,DLJingjai,2020-06-01 09:31:42
469,5ed46993a43839f10ce76da8,2407293375982816,NaN,DLJingjai,2020-06-01 09:36:03
...,...,...,...,...,...
7874,5ef41d7829955acb4a6c3262,2844409465684808,NaN,DLJingjai,2020-06-25 10:43:52
7878,5ef4200929955acb4a6c3266,3022954711119389,NaN,DLJingjai,2020-06-25 10:54:49
7888,5ef4257429955acb4a6c326e,2866063213477303,NaN,DLJingjai,2020-06-25 11:17:56
7891,5ef4264fdd64823c46e7b8e1,3879845842057635,NaN,DLJingjai,2020-06-25 11:21:35
7896,5ef42983dd64823c46e7b8e4,3418062224886946,NaN,DLJingjai,2020-06-25 11:35:15

In [19]:
msng_06_02 = messenger_ad_users.loc[messenger_ad_users.date.str.startswith('2020-06-02')].sender_id.unique().tolist()
msng_06_02

,_id,sender_id,ad_id,ref,date
720,5ed53423abcf4c70d32f07eb,2721249014667220,2.384366e+16,NaN,2020-06-02 00:00:19
722,5ed536d1ee771452f181067e,2978379095531740,2.384467e+16,NaN,2020-06-02 00:11:45
727,5ed53c45ee771452f1810681,2969420776445397,2.384468e+16,NaN,2020-06-02 00:35:01
728,5ed53ebbee771452f1810682,2465809893529553,2.384366e+16,NaN,2020-06-02 00:45:31
729,5ed548d9abcf4c70d32f07f4,2944451132335607,2.384410e+16,NaN,2020-06-02 01:28:41
...,...,...,...,...,...
1039,5ed67d6aca73fcdf0d27ffa5,2548101668616877,2.384366e+16,NaN,2020-06-02 23:25:14
1040,5ed67e45ca73fcdf0d27ffa6,2924236130963891,2.384467e+16,NaN,2020-06-02 23:28:53
1041,5ed680d4ca73fcdf0d27ffa7,2731741936953993,2.384366e+16,NaN,2020-06-02 23:39:48
1042,5ed68121ca73fcdf0d27ffa8,3763152583759723,2.384366e+16,NaN,2020-06-02 23:41:05
1043,5ed685715d9c9f4eb39dafdc,1509265029197134,2.384467e+16,NaN,2020-06-02 23:59:29

In [17]:
len(msng_06_02)

238

In [20]:
refl_06_02 = ref_link_users.loc[ref_link_users.date.str.startswith('2020-06-02')].sender_id.unique().tolist()

In [21]:
len(refl_06_02)

59

In [10]:
# Check for intersecting userIDs
ind = ref_link_users.sender_id.isin(messenger_ad_users.sender_id) & messenger_ad_users.sender_id.isin(ref_link_users.sender_id)
sum(ind)

0

In [4]:
chatlog = pd.read_csv('../excel/chatlog.csv')

In [5]:
chatlog

,userId,full_name,message,role,time,_date,_time
0,2763095730486180,Nawasorn Thippayachan,จะส่งเอกสารเปลี่ยนที่อยู่ กับเปลี่ยนชื่อน่ะค่ะ,User,2020-06-02 09:35:45,2020-06-02,09:35
1,2763095730486180,Nawasorn Thippayachan,"{'type': 'text', 'text': 'ผม ""จริงใจ"" พร้อมดูแ...",Admin,2020-06-02 09:35:47,2020-06-02,09:35
2,2763095730486180,Nawasorn Thippayachan,"{'type': 'text', 'text': 'สอบถามข้อมูลใด ลองพิ...",Admin,2020-06-02 09:35:48,2020-06-02,09:35
3,2763095730486180,Nawasorn Thippayachan,จะส่งเอกสารเปลี่ยนที่อยู่ กับเปลี่ยนชื่อน่ะค่ะ,User,2020-06-02 09:36:05,2020-06-02,09:36
4,2763095730486180,Nawasorn Thippayachan,"{'type': 'text', 'text': 'สอบถามข้อมูลใด ลองพิ...",Admin,2020-06-02 09:36:08,2020-06-02,09:36
...,...,...,...,...,...,...,...
374820,3047222328679793,Thawat Tedpluem,"{'type': 'text', 'text': 'พี่คับๆ ขอชื่อ-นามสก...",Admin,2020-06-26 16:49:14,2020-06-26,16:49
374821,3410118372354573,Maytaporn Sch,NaN,User,2020-06-26 16:49:49,2020-06-26,16:49
374822,3410118372354573,Maytaporn Sch,DLJingjai,User,2020-06-26 16:49:49,2020-06-26,16:49
374823,3410118372354573,Maytaporn Sch,"{'type': 'text', 'text': 'ผม ""จริงใจ"" พร้อมดูแ...",Admin,2020-06-26 16:49:52,2020-06-26,16:49
374824,3410118372354573,Maytaporn Sch,"{'type': 'text', 'text': 'สอบถามข้อมูลใด ลองพิ...",Admin,2020-06-26 16:49:52,2020-06-26,16:49

In [25]:
chatlog

,userId,full_name,message,role,time,_date,_time
0,2763095730486180,Nawasorn Thippayachan,จะส่งเอกสารเปลี่ยนที่อยู่ กับเปลี่ยนชื่อน่ะค่ะ,User,2020-06-02 09:35:45,2020-06-02,09:35
1,2763095730486180,Nawasorn Thippayachan,"{'type': 'text', 'text': 'ผม ""จริงใจ"" พร้อมดูแ...",Admin,2020-06-02 09:35:47,2020-06-02,09:35
2,2763095730486180,Nawasorn Thippayachan,"{'type': 'text', 'text': 'สอบถามข้อมูลใด ลองพิ...",Admin,2020-06-02 09:35:48,2020-06-02,09:35
3,2763095730486180,Nawasorn Thippayachan,จะส่งเอกสารเปลี่ยนที่อยู่ กับเปลี่ยนชื่อน่ะค่ะ,User,2020-06-02 09:36:05,2020-06-02,09:36
4,2763095730486180,Nawasorn Thippayachan,"{'type': 'text', 'text': 'สอบถามข้อมูลใด ลองพิ...",Admin,2020-06-02 09:36:08,2020-06-02,09:36
...,...,...,...,...,...,...,...
347429,2699492556816845,Watcharapon Tharaboon,"{'type': 'carousel', 'list_object': [{'title':...",Admin,2020-06-24 16:30:18,2020-06-24,16:30
347430,2890426974399046,Momsingto Singto,NaN,User,2020-06-24 16:30:57,2020-06-24,16:30
347431,2890426974399046,Momsingto Singto,สินเชื่อทะเบียนรถยนต์1,User,2020-06-24 16:30:57,2020-06-24,16:30
347432,2890426974399046,Momsingto Singto,"{'type': 'text', 'text': 'ผม ""จริงใจ"" พร้อมดูแ...",Admin,2020-06-24 16:30:59,2020-06-24,16:30
347433,2890426974399046,Momsingto Singto,"{'type': 'text', 'text': 'สอบถามข้อมูลใด ลองพิ...",Admin,2020-06-24 16:30:59,2020-06-24,16:30

In [6]:
def get_user(date):
	userlist = chatlog.loc[chatlog._date==date].userId.tolist()
	return list(set(userlist))

In [27]:
chatlog_06_02 = get_user('2020-06-02')

In [28]:
def get_usercount(date):
	usercount = len(get_user(date))
	return usercount

In [29]:
users_06_02 = get_user('2020-06-02')

In [30]:
def intersection(lst1, lst2): 
    return list(set(lst1) & set(lst2))

In [31]:
def intersection3(lst1, lst2, lst3): 
    return list(set(lst1) & set(lst2) & set(lst3))

In [32]:
print(len(intersection3(users_06_02, msng_06_02, refl_06_02)))

0

In [33]:
len(users_06_02)

1229

In [76]:
msng_and_refl = (intersect(msng_06_02, refl_06_02))

In [80]:
msng_and_refl

[]

In [81]:
total_ads = intersect(users_06_02, msng_06_02)

In [85]:
len(total_ads)

238

In [36]:
print(len(intersection(users_06_02, refl_06_02)))

59

In [39]:
type(msng_06_02)

list

In [99]:
len(refl_06_02)

59

In [41]:
organic_06_02 = list(set(users_06_02) - set(msng_06_02) - set(refl_06_02))

In [42]:
len(organic_06_02)

932

In [7]:
def intersect(list1, list2, unique = False):
	if (list1 == []) or (list2 == []):
		return []	
	list1 = np.array(list1)
	list2 = np.array(list2)
	if unique:
		res = list(np.intersect1d(list1,list2))
	else: 
		res = [x for x in list1 if x in list2]
	return res

In [8]:
def get_users_channel(date: str, ad_id, chatlog):
    ad_id.drop_duplicates(subset='sender_id', keep='last', inplace=True)
    ad_users = ad_id.loc[ad_id.ad_id.notnull()]
    ref_users = ad_id.loc[ad_id.ref.notnull()]
    ad_users = ad_users.loc[ad_users.date.str.startswith(date)].sender_id.unique().tolist()
    ref_users = ref_users.loc[ref_users.date.str.startswith(date)].sender_id.unique().tolist()
    total_users = get_user(date)
    in_ad_users = intersect(total_users, ad_users)
    in_ref_users = intersect(total_users, ref_users)
    org_users = list(set(total_users) - set(ad_users) - set(ref_users))
    return (org_users, in_ad_users, in_ref_users)

In [9]:
org_06_02, ad_06_02, ref_06_02 = get_users_channel('2020-06-02', ad_id, chatlog)

In [10]:
len(ref_06_02)

59

In [100]:
set(msng_06_02) - set(users_06_02)

{3219597818102222}

In [44]:
print(len(intersect(msng_06_02, refl_06_02)))

0

In [101]:
df_weird = ad_new.loc[ad_new.sender_id == 3219597818102222]

In [102]:
df_weird

,_id,sender_id,ad_id,ref,date,_date
711,5ed5275dabcf4c70d32f07e0,3219597818102222,2.384366e+16,NaN,2020-06-01 23:05:49,2020-06-01
764,5ed5a62eabcf4c70d32f0818,3219597818102222,2.384410e+16,NaN,2020-06-02 08:06:54,2020-06-02
1292,5ed78943ca73fcdf0d280074,3219597818102222,2.384366e+16,NaN,2020-06-03 18:28:03,2020-06-03

In [106]:
df_weird_total = chatlog.loc[chatlog.userId == 3219597818102222]

In [107]:
df_weird_total

,userId,full_name,message,role,time,_date,_time
29324,3219597818102222,ชาตรื อิสพงษ์,NaN,User,2020-06-01 23:05:50,2020-06-01,23:05

In [122]:
type(organic_06_02)

list

In [11]:
inq_flow = pd.read_excel('../excel/inquiry_report.xlsx',sheet_name='Flow')
inq_flow.messages = inq_flow.messages.fillna('').apply(lambda x: x.split(','))

In [ ]:
def get_inq_nonflow(date, inq_nonflow=inq_nonflow):
	userlist = []
	countlist = []
	keylist = inq_nonflow.key.tolist()
	messagelist = inq_nonflow.messages.tolist()

	# No. of messages / transactions
	for i in range(len(keylist)):
		# non-unique users = transaction count
		userlist.append(get_keywordsearch(date,messagelist[i],mode='user'))
		countlist.append(len(userlist[i]))

	inq_nonflow['user'] = userlist
	inq_nonflow['count'] = countlist

	# Calc loan_t-03
	lt01x = inq_nonflow.loc[inq_nonflow.key=='loan_t-01x'].user.values[0]
	lt02x = inq_nonflow.loc[inq_nonflow.key=='loan_t-02x'].user.values[0]
	lt03x = inq_nonflow.loc[inq_nonflow.key=='loan_t-03x'].user.values[0]

	lt03 = intersect(intersect(lt01x,lt02x,unique=False),lt03x,unique=False)

	# Calc loan_t-04
	lt04x = inq_nonflow.loc[inq_nonflow.key=='loan_t-04x'].user.values[0]

	lt04 = intersect(lt03x,lt04x,unique=False)

	# Calc loan_t-05.2
	lt05 = inq_nonflow.loc[inq_nonflow.key=='loan_t-05.2'].user.values[0]
	lt052x = inq_nonflow.loc[inq_nonflow.key=='loan_t-05.2x'].user.values[0]
	lt052x2 = inq_nonflow.loc[inq_nonflow.key=='loan_t-05.2x2'].user.values[0]

	lt052 = intersect(lt03x,lt052x,unique=False)

	# Calc loan_c-04
	lm04 = inq_nonflow.loc[inq_nonflow.key=='loan_m-04'].user.values[0]

	lc04 = diff(lt04x,lt04,unique=False)

	# Replace counts into the dataframe
	inq_nonflow.loc[inq_nonflow.key=='loan_t-03','count'] = len(lt03)
	inq_nonflow.loc[inq_nonflow.key=='loan_t-04','count'] = len(lt04)
	inq_nonflow.loc[inq_nonflow.key=='loan_t-05.2','count'] = len(lt052)
	inq_nonflow.loc[inq_nonflow.key=='loan_c-04','count'] = len(lc04)

	# # Remove the count of entries used for calculations
	# inq_nonflow.loc[inq_nonflow.keep_count==0,'count'] = 0

	inq_nonflow['flow'] = inq_nonflow['key'].apply(lambda x: x.split('-')[0])
	inq_nonflow['state'] = inq_nonflow['key'].apply(lambda x: x.split('-')[1])

	# Remove the entries used for calculations
	inq_nonflow = inq_nonflow.loc[inq_nonflow.keep_count==1]

	return inq_nonflow[['flow','state','key','description','count']]

In [31]:
def get_inq_flow(date):
    inq_flow = pd.DataFrame(columns=['flow','state','key','description', 'count','organic_count', 'ad_count', 'ref_count', 'drop', 'org_drop', 'ad_drop', 'ref_drop'])
    inq_flow = inq_flow.append(get_ins_lead(date),ignore_index=True)

    return inq_flow

In [13]:
# Keyword count
def get_keywordsearch(date, keywordlist, mode='msgcount'):
    if type(keywordlist) != list:
        print("input keywords as a list of strings")
        return None

    dat = botlog.loc[botlog._date==date].copy()
    dat.loc[:,'key'] = 0
    for keyword in keywordlist:
        dat.loc[:,'key_temp']=0
        if keyword != "":
    # 			print("keyword:", keyword)

            dat.loc[:,'key_temp'] = dat.message.str.contains(keyword).fillna(0).astype(int)
            dat.loc[:,'key'] = dat[['key','key_temp']].max(axis=1)

    if mode == 'uniqueuser':
        return dat.loc[dat.key==1].userId.unique().tolist()
    elif mode == 'user':
        return dat.loc[dat.key==1].userId.tolist()
    elif mode == 'msgcount':
        return dat.loc[dat.key==1].message.count()
    elif mode == 'usercount':
        return len(dat.loc[dat.key==1].userId.unique())
    else:
        return 0

In [14]:
botlog = chatlog.loc[chatlog.role=='Admin'].copy()

In [15]:
def diff(list1, list2, unique = False):
    if (list1 == []):
        return []
    elif list2 == []:
        return list1
    list1 = np.array(list1)
    list2 = np.array(list2)
    if unique:
        res = list(np.setdiff1d(list1,list2))
    else: 
        res = [x for x in list1 if x not in list2]
    return res

In [24]:
get_inq_flow('2020-06-02')

NameError: name 'inq_flow' is not defined

In [50]:
def get_ins_lead_with_drop(date):
    userlist = []
    countlist = []
    droplist = []
    dropcountlist = []
    org_countlist = []
    ad_countlist = []
    ref_countlist = []
    orglist = []
    adlist = []
    reflist = []
    orgdroplist = []
    addroplist = []
    refdroplist = []
    org_dropcountlist = []
    ad_dropcountlist = []
    ref_dropcountlist = []
    org_userlist, ad_userlist, ref_userlist = get_users_channel(date, ad_id, chatlog)
    ins_lead = inq_flow.loc[inq_flow.key.str.contains('ins_lead')]
    keylist = ins_lead.key.tolist()
    keep_count = ins_lead.keep_count.tolist()
    keep_drop = ins_lead.keep_drop.tolist()
    messagelist = ins_lead.messages.tolist()

    # UserId & No. of users
    for i in range(len(keylist)):
        userlist_row = get_keywordsearch(date,messagelist[i],mode='uniqueuser')
        userlist.append(userlist_row)
        orglist.append(intersect(org_userlist, userlist))
        adlist.append(intersect(ad_userlist, userlist))
        reflist.append(intersect(ref_userlist, userlist))
        countlist.append(len(userlist_row)*keep_count[i])
        org_countlist.append(len(intersect(org_userlist, userlist_row))*keep_count[i])
        ad_countlist.append(len(intersect(ad_userlist, userlist_row))*keep_count[i])
        ref_countlist.append(len(intersect(ref_userlist, userlist_row))*keep_count[i])

    ins_lead['user'] = userlist
    ins_lead['count'] = countlist
    ins_lead['organic_user'] = orglist
    ins_lead['organic_count'] = org_countlist
    ins_lead['ad_user'] = adlist
    ins_lead['ad_count'] = ad_countlist
    ins_lead['ref_user'] = reflist
    ins_lead['ref_count'] = ref_countlist

    ins10 = ins_lead.loc[ins_lead.key=='ins_lead-10'].user.values[0]
    ins11 = ins_lead.loc[ins_lead.key=='ins_lead-11'].user.values[0]
    ins101x = ins_lead.loc[ins_lead.key=='ins_lead-10.1x'].user.values[0]

    # Dropout ins_lead-00 to ins_lead-10.1x
    for i in range(0,12):
        droplist.append(list(diff(userlist[i],userlist[i+1],unique=True)))
        orgdroplist.append(intersect(org_userlist, droplist))
        addroplist.append(intersect(ad_userlist, droplist))
        refdroplist.append(intersect(ref_userlist, droplist))
        dropcountlist.append(len(droplist[i])*keep_drop[i])
        org_dropcountlist.append(len(orgdroplist[i])*keep_drop[i])
        ad_dropcountlist.append(len(addroplist[i]) *keep_drop[i])
        ref_dropcountlist.append(len(refdroplist[i]) *keep_drop[i])
        
    # Dropout ins_lead-10.1	
    drop101 = list(intersect(ins101x,diff(ins10,ins11,unique=True),unique=True))
    droplist.append(len(drop101))
    orgdroplist.append(intersect(org_userlist, droplist))
    addroplist.append(intersect(ad_userlist, droplist))
    refdroplist.append(intersect(ref_userlist, droplist))
    dropcountlist.append(len(droplist[i])*keep_drop[i])
    org_dropcountlist.append(len(orgdroplist[i])*keep_drop[i])
    ad_dropcountlist.append(len(addroplist[i]) *keep_drop[i])
    ref_dropcountlist.append(len(refdroplist[i]) *keep_drop[i])

    # Dropout ins_lead-10.2
    drop102 = list(diff(diff(ins10,ins11,unique=True),drop101,unique=True))
    droplist.append(len(drop102))
    orgdroplist.append(intersect(org_userlist, droplist))
    addroplist.append(intersect(ad_userlist, droplist))
    refdroplist.append(intersect(ref_userlist, droplist))
    dropcountlist.append(len(droplist[i])*keep_drop[i])
    org_dropcountlist.append(len(orgdroplist[i])*keep_drop[i])
    ad_dropcountlist.append(len(addroplist[i]) *keep_drop[i])
    ref_dropcountlist.append(len(refdroplist[i]) *keep_drop[i])

    # Dropout ins_lead-11
    droplist.append(0)
    orgdroplist.append(intersect(org_userlist, droplist))
    addroplist.append(intersect(ad_userlist, droplist))
    refdroplist.append(intersect(ref_userlist, droplist))
    dropcountlist.append(len(droplist[i])*keep_drop[i])
    org_dropcountlist.append(len(orgdroplist[i])*keep_drop[i])
    ad_dropcountlist.append(len(addroplist[i]) *keep_drop[i])
    ref_dropcountlist.append(len(refdroplist[i]) *keep_drop[i])


    ins_lead['drop'] = dropcountlist
    # ins_lead['user_drop_organic'] = orgdroplist
    ins_lead['org_drop'] = org_dropcountlist
    # ins_lead['user_drop_ad'] = addroplist
    ins_lead['ad_drop'] = ad_dropcountlist
    # ins_lead['user_drop_ref'] = refdroplist
    ins_lead['ref_drop'] = ref_dropcountlist

    ins_lead['flow'] = ins_lead['key'].apply(lambda x: x.split('-')[0])
    ins_lead['state'] = ins_lead['key'].apply(lambda x: x.split('-')[1])

    # Remove the entries used for calculations
    ins_lead = ins_lead.loc[(ins_lead.keep_count==1)|(ins_lead.keep_drop==1)]

    return ins_lead[['flow','state','key','description', 'count', 'organic_count', 
                     'ad_count', 'ref_count', 'drop', 'org_drop', 'ad_drop', 'ref_drop']]

In [39]:
def get_ins_lead_try(date):
    userlist = []
    countlist = []
    droplist = []
    org_countlist = []
    ad_countlist = []
    ref_countlist = []
    org_userlist, ad_userlist, ref_userlist = get_users_channel(date, ad_id, chatlog)
    orglist = []
    adlist = []
    reflist = []
    ins_lead = inq_flow.loc[inq_flow.key.str.contains('ins_lead')]
    keylist = ins_lead.key.tolist()
    keep_count = ins_lead.keep_count.tolist()
    keep_drop = ins_lead.keep_drop.tolist()
    messagelist = ins_lead.messages.tolist()

    # UserId & No. of users
    for i in range(len(keylist)):
        userlist_row = get_keywordsearch(date,messagelist[i],mode='uniqueuser')
        userlist.append(userlist_row)
        orglist.append(intersect(org_userlist, userlist))
        adlist.append(intersect(ad_userlist, userlist))
        reflist.append(intersect(ref_userlist, userlist))
        countlist.append(len(userlist_row)*keep_count[i])
        org_countlist.append(len(intersect(org_userlist, userlist_row))*keep_count[i])
        ad_countlist.append(len(intersect(ad_userlist, userlist_row))*keep_count[i])
        ref_countlist.append(len(intersect(ref_userlist, userlist_row))*keep_count[i])

    ins_lead['user'] = userlist
    ins_lead['count'] = countlist
    ins_lead['organic_user'] = orglist
    ins_lead['organic_count'] = org_countlist
    ins_lead['ad_user'] = adlist
    ins_lead['ad_count'] = ad_countlist
    ins_lead['ref_user'] = reflist
    ins_lead['ref_count'] = ref_countlist
    

    ins10 = ins_lead.loc[ins_lead.key=='ins_lead-10'].user.values[0]
    ins11 = ins_lead.loc[ins_lead.key=='ins_lead-11'].user.values[0]
    ins101x = ins_lead.loc[ins_lead.key=='ins_lead-10.1x'].user.values[0]

    # Dropout ins_lead-00 to ins_lead-10.1x
    for i in range(0,12):
        droplist.append(len(list(diff(userlist[i],userlist[i+1],unique=True)))*keep_drop[i])

    # Dropout ins_lead-10.1	
    drop101 = list(intersect(ins101x,diff(ins10,ins11,unique=True),unique=True))
    droplist.append(len(drop101))
    # Dropout ins_lead-10.2
    drop102 = list(diff(diff(ins10,ins11,unique=True),drop101,unique=True))
    droplist.append(len(drop102))
    # Dropout ins_lead-11
    droplist.append(0)


    ins_lead['drop'] = droplist

    ins_lead['flow'] = ins_lead['key'].apply(lambda x: x.split('-')[0])
    ins_lead['state'] = ins_lead['key'].apply(lambda x: x.split('-')[1])

    ins_lead_final = pd.DataFrame(columns=['flow', 'state', 'key', 'description', 'channel', 'count', 'drop'])
    ins_lead_final = ins_lead_final.append(pd.Series([ins_lead['flow'],
                                          ins_lead['state'],
                                          ins_lead['key'],
                                          ins_lead['description'],
                                          'organic',
                                          org_countlist,
                                          droplist
                                         ],
                                        index=['flow', 'state', 'key', 'description', 'channel', 'count', 'drop']),
                              ignore_index=True)
    
    ins_lead_final = ins_lead_final.append(pd.Series([ins_lead['flow'],
                                      ins_lead['state'],
                                      ins_lead['key'],
                                      ins_lead['description'],
                                      'ad',
                                      ad_countlist,
                                      droplist
                                     ],
                                    index=['flow', 'state', 'key', 'description', 'channel', 'count', 'drop']),
                              ignore_index=True)
    
    ins_lead_final = ins_lead_final.append(pd.Series([ins_lead['flow'],
                                      ins_lead['state'],
                                      ins_lead['key'],
                                      ins_lead['description'],
                                      'ref',
                                      ref_countlist,
                                      droplist
                                     ],
                                    index=['flow', 'state', 'key', 'description', 'channel', 'count', 'drop']),
                              ignore_index=True)
    # Remove the entries used for calculations
    ins_lead = ins_lead.loc[(ins_lead.keep_count==1)|(ins_lead.keep_drop==1)]

#     return ins_lead[['flow','state','key','description','channel', 'count', 'organic_count', 'ad_count', 'ref_count', 'drop']]
    return ins_lead_final

In [40]:
get_ins_lead_try('2020-06-02')

,flow,state,key,description,channel,count,drop
0,0 ins_lead 1 ins_lead 2 ins_lead 3...,0 00 1 01 2 02 3 0...,0 ins_lead-00 1 ins_lead-01 2 ...,0 คลิกเริ่มเข้าสู่ flow เก็บ lea...,organic,"[236, 178, 166, 151, 142, 138, 136, 130, 124, ...","[81, 45, 23, 15, 5, 3, 7, 8, 0, 61, 0, 0, 26, ..."
1,0 ins_lead 1 ins_lead 2 ins_lead 3...,0 00 1 01 2 02 3 0...,0 ins_lead-00 1 ins_lead-01 2 ...,0 คลิกเริ่มเข้าสู่ flow เก็บ lea...,ad,"[67, 64, 53, 46, 42, 41, 41, 40, 39, 42, 28, 0...","[81, 45, 23, 15, 5, 3, 7, 8, 0, 61, 0, 0, 26, ..."
2,0 ins_lead 1 ins_lead 2 ins_lead 3...,0 00 1 01 2 02 3 0...,0 ins_lead-00 1 ins_lead-01 2 ...,0 คลิกเริ่มเข้าสู่ flow เก็บ lea...,ref,"[5, 39, 17, 17, 15, 15, 14, 14, 13, 15, 9, 0, ...","[81, 45, 23, 15, 5, 3, 7, 8, 0, 61, 0, 0, 26, ..."

In [43]:
get_ins_lead('2020-06-03').to_excel('../excel/ins_lead_06_03.xlsx')

In [19]:
get_ins_lead('2020-06-25').to_clipboard()

In [56]:
get_ins_lead_with_drop('2020-06-05').to_clipboard()

In [ ]:
chatlog.loc[chatlog.userId == 4505764286103942]

In [32]:
pd.set_option('display.max_rows', None)

In [34]:
ad_id.loc[ad_id.sender_id == 4505764286103942]

,_id,sender_id,ad_id,ref,date
5815,5eea0ea3745806847dd57810,4505764286103942,2.384366e+16,NaN,2020-06-17 19:37:55